.subLabel
{
  font-family  Source Sans Pro;
  font-size  10px;
  letter-spacing  2px;
  text-transform  uppercase;
  color  #B3B3B3;
  color  rgb(179, 179, 179);

.brBack
{
  background : #D9D9D9;
  background : rgba(217, 217, 217, 1);
}

.panBack
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  border-style : Solid;
  border-color : #808080;
  border-color : rgba(128, 128, 128, 1);
  border-width : 0px;
}

.subInput
{
  border-style  Solid;
  border-color  #333333;
  border-color  rgba(51, 51, 51, 1);
  border-width  1px;
}

.footerLine
{
  border-style  Solid;
  border-color  #808080;
  border-color  rgba(128, 128, 128, 1);
  border-width  0px;
}


/* fuentes */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

.sourceSans{
  font-family: 'Source Sans Pro', sans-serif;

}