/* fuentes */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

body
{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
/*
.subLabel
{
  font-family: 'Source Sans Pro';
  font-size:  16px;
  letter-spacing:  2px;
  text-transform:  uppercase;
  color:  #B3B3B3;
  color:  rgb(179, 179, 179);
}

.usuarioFloat
{
  position: absolute;
bottom: 140px;
left: 680px;
}
.passFloat
{
position: absolute;
bottom: 20px;
left: 660px;
}
*/


.botLogin
{
  margin-top: 10px;
  margin-left: 155px;
}
.brBack
{
  background : #D9D9D9;
  background : rgba(217, 217, 217, 1);
}

.panBack
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  border-style : solid;
  border-color : #808080;
  border-color : rgba(180, 180, 180, 1);
  border-width : 1px;
}

.panelLogin{
  width: 360px;
  height: 500px;
  margin: 100px auto;
}

.subInput
{
  border-bottom-style : solid;
  border-bottom-color : #333333;
  border-bottom-color : rgba(51, 51, 51, 1);
  border-bottom-width : 1px;
  margin-top: 90px;
  width: 250px;
  font-size: 18px;
  margin-left: 55px;

}

.footerLine
{
  position: relative;
  margin-top: 150px;
  margin: 0 auto;
  border-bottom-style : solid;
  border-bottom-color : #808080;
  border-bottom-color : rgba(128, 128, 128, 1);
  border-bottom-width : 1px;
}


/*
.sourceSans
{
  font-family: 'Source Sans Pro', sans-serif;

}
*/

.center
{
  margin: 0 auto;
}
/*
.inlineCont
{
  width: 100%;
}
*/
.logoLogin{
  position: relative;
  margin-bottom: 50px;
}


.inlineCont{
  position: relative;
  margin-bottom: 90px;
  margin-left: 55px;
}


.inlineCont input[type="text"]{
  font-family: 'Source Sans Pro' ;
  font-weight: 200;
  letter-spacing:2px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #333333;
  background: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  font-size: 1em;
  padding: 0.2em 0.6em;
  width: 100%;
}
.inlineCont input[type="password"]{
  font-family: 'Source Sans Pro' ;
  font-weight: 200;
  letter-spacing:2px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #333333;
  background: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  font-size: 1em;
  padding: 0.2em 0.6em;
  width: 100%;
}
.inlineCont:before, .inlineCont:after{
  content:'';
  display: block;
  
  position: absolute;
  bottom: 2px;
  
  height: 6px;
  border-left: 2px solid #333333;
}
.inlineCont:before{
  left: 0;
}
.inlineCont:after{
  right: 0;
}

.imgLogo
{
  width: 100px;
  margin-top: 40px;
  margin-left: 130px;

}

/* Normal Knob */
input[type="checkbox"] { 
  position: absolute;
  margin-left: 90px;
  opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
  vertical-align: middle;
  width: 40px;  height: 20px;
  border: 0px solid rgba(0,0,0,.4);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  margin: -37px 48em 37px 16.7em;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
  background-color: #d63f49;
  border: 0px solid rgba(0, 162, 63,1);
  box-shadow: inset 0 0 0 10px rgba(214, 63, 73,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 18px; height: 18px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0), 0px 0px 0 1px rgba(0, 0, 0, 0);
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(20px, 0, 0);
  -moz-transform: translate3d(20px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0), 0px 0px 0 1px rgba(8, 80, 172, 0);
}


/* -------------------------------------------------- */


.goButton
{
  background-image: url(../img/goButton.svg), none;
    margin-bottom: 0px;
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 53px;
    height: 53px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: 0;
}