/* fuentes */
/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

body
{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #d9d9d9 !important;
}

.sourcesans {
    font-family: 'Source Sans Pro', sans-serif;
}


.botLogin
{
  margin-top: 10px;
  margin-left: 155px;
}

.brBack
{
  background : #D9D9D9;
  background : rgba(217, 217, 217, 1);
}

/*--------------BOOTSTRAP------------*/

.container
{background-color: #f2f2f2;
  margin-top: 50px;
  max-width: 960px;
  border-style : solid;
  border-color : #B9B9B9;
  border-width : 1px;

}

.blueTitle
{
font-family: 'Source Sans Pro' ;
font-size: 14px;
font-weight: 300;
color: #1e5da2;
letter-spacing:2px;
margin-left: 20px;
}


.centerText{
  text-align: center;
}

.masInfoHeight{
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

.bprinc
{
  background-color: #f2f2f2;
 
}

.grsec{
  background-color: #eaeaea;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color : #B9B9B9;
  border-width : 1px;

}
.azulSyrat{
  color: #1e5da2;
}

.textUppercase{
  text-transform: uppercase;
}
/*--------------BOOTSTRAP------------*/

.panBack
{
  background : #F2F2F2;
  background : rgba(242, 242, 242, 1);
  border-style : solid;
  border-color : #808080;
  border-color : rgba(180, 180, 180, 1);
  border-width : 1px;
}

.dateMenu{
  border-radius: 0px !important;
}

.panelLogin{
  width: 360px;
  height: 500px;
  margin: 100px auto;
}

.subInput
{
  border-bottom-style : solid;
  border-bottom-color : #333333;
  border-bottom-color : rgba(51, 51, 51, 1);
  border-bottom-width : 1px;
  margin-top: 90px;
  width: 250px;
  font-size: 18px;
  margin-left: 55px;

}

.footerLine
{
  position: relative;
  margin-top: 150px;
  margin: 0 auto;
  border-bottom-style : solid;
  border-bottom-color : #808080;
  border-bottom-color : rgba(128, 128, 128, 1);
  border-bottom-width : 1px;
}




.center
{
  margin: 0 auto;
}
/*
.inlineCont
{
  width: 100%;
}
*/
.logoLogin{
  position: relative;
  margin-bottom: 50px;
}


.inlineCont{
  position: relative;
  margin-bottom: 90px;
  margin-left: 55px;
}

label{
  font-weight: 300 !important;
  color: #8e8e8e;
  font-size: 12px;
}





.formStyle {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #333333;
  background: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  font-size: 1em;
  padding: 0.2em 0.6em;
  width: 100%;
  padding-left: 1px !important;
  padding-right: 1px !important;

}

.formStyle1:before[class="formStyle1"], .formStyle1:after[class="formStyle1"] {
  content:'';
  display: block;
  
  position: absolute;
  bottom: 1px;
  
  height: 4px;
  border-left: 1px solid #333333;
}


.inlineCont input[type="text"]{
  font-family: 'Source Sans Pro' ;
  font-weight: 200;
  letter-spacing:2px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #333333;
  background: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  font-size: 1em;
  padding: 0.2em 0.6em;
  width: 100%;
}
.inlineCont input[type="password"]{
  font-family: 'Source Sans Pro' ;
  font-weight: 200;
  letter-spacing:2px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #333333;
  background: none;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  font-size: 1em;
  padding: 0.2em 0.6em;
  width: 100%;
}
.inlineCont:before, .inlineCont:after{
  content:'';
  display: block;
  
  position: absolute;
  bottom: 2px;
  
  height: 6px;
  border-left: 2px solid #333333;
}
.inlineCont:before, .formStyle:before{
  left: 0;
}
.inlineCont:after, .formStyle:after{
  right: 0;
}

.imgLogo
{
  width: 100px;
  margin-top: 40px;
  margin-left: 130px;

}

.miniButt{
font-family: 'Source Sans Pro' ;
font-size: 9px;
font-weight: 300;
color: #1e5da2;
letter-spacing:2px;
margin-left: 20px;
}

/* Normal Knob */
input[type="checkbox"] { 
  position: absolute;
  margin-left: 0px;
  opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
  vertical-align: middle;
  width: 24px;  height: 12px;
  border: 0px solid rgba(0,0,0,.4);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: .4s;
  -webkit-transition-property: background-color, box-shadow;
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  margin: -7px 0px;
  margin-top: 0px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
  background-color: #1e5da2;
  border: 0px solid rgba(0, 162, 63,1);
  box-shadow: inset 0 0 0 10px rgba(30, 93, 162,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
  float: left;
  width: 10px; height: 10px;
  border-radius: inherit;
  background: #ffffff;
  -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0), 0px 0px 0 1px rgba(0, 0, 0, 0);
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
  -webkit-transform: translate3d(12px, 0, 0);
  -moz-transform: translate3d(12px, 0, 0);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0), 0px 0px 0 1px rgba(8, 80, 172, 0);
}

.formLine{
  padding-left: 1px;
  padding-right: 1px; 
}

/* -------------------------------------------------- */


.goButton
{
  background-image: url(../img/goButton.svg), none;
    margin-bottom: 0px;
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 53px;
    height: 53px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: 0;
}

.nextButton
{
  background-image: url(../img/nextButton.png), none;
    margin-bottom: 0px;
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 53px;
    height: 53px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    outline: 0;
}




/*INICIO DE ESTILO AVISO DE PRIVACIDAD*/

.panpBack
{
  background : #333333;
  background : rgba(51, 51, 51, 1);
  border-style : Solid;
  border-color : #1e1e1e;
  border-color : rgba(30, 30, 30, 1);
  border-width : 1px;
}

.panelPrivacy{
  width: 960px;
  height: 500px;
  margin: 100px auto;
}

.formSwitch{
  margin-top: 10px !important;
}

/*FIN DE ESTILO AVISO DE PRIVACIDAD*/