
/* hola */
@charset "utf-8";
	.st0
{
	background : #F2F2F2;
	background : rgba(242, 242, 242, 1);
	border-style : Solid;
	border-color : #808080;
	border-color : rgba(128, 128, 128, 1);
	border-width : 0px;
}
